<%- include("partials/header.ejs") %>




  <main class="px-3">
    <h1>Create Your Own Blog.</h1>
    <p class="lead">You Can Create your Blog and edit the Blog  and Do whatever You Want</p>
    <p class="lead">
      <a href="/getstart" class="btn btn-lg btn-light fw-bold border-white bg-black">Get started</a>
    </p>
  </main>
  <%- include("partials/services.ejs") %>


 
  <%- include("partials/footer.ejs") %>